.title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    position: relative;
    margin-left: 6rem;

    &::before {
      content: "";
      width: 5rem;
      height: 1px;
      background-color: $secondaryColor;
      position: absolute;
      top: 50%;
      left: -6rem;
    }

    &::after {
      content: "";
      width: 60%;
      height: 1px;
      background-color: $secondaryColor;
      position: absolute;
      top: 50%;
      margin-left: 1rem;
    }
  }