@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$gray: #b1b1b1;

.main {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 0 4rem;

  .main__wrapper {
    @include wrapper;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .main__shape {
      position: absolute;
      &.circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 3px solid #008c3c;
        top: 100px;
        right: 100px;
        animation: squiggle-three 20s linear infinite;
      }

      &.block {
        width: 25px;
        height: 25px;
        border: 3px solid #dc143c;
        top: 0px;
        left: 0px;
        animation: squiggle-one 16s linear infinite;
      }

      &.triangle {
        height: 3px;
        width: 28px;
        background-color: #585af7;
        bottom: 30px;
        left: 50%;
        animation: squiggle-two 9s linear infinite;

        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 27px;
          bottom: 11px;
          right: 7px;
          transform: rotate(122deg);
          background-color: #585af7;
        }
        &::after {
          content: "";
          position: absolute;
          height: 3px;
          width: 27px;
          bottom: 11px;
          left: 7px;
          transform: rotate(58deg);
          background-color: #585af7;
        }
      }
    }

    .main__title {
      font-size: 3rem;
      margin-bottom: 4rem;
      position: relative;

      &::after {
        content: "";
        width: 10%;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        bottom: -2rem;
      }
    }

    .main__description {
      font-size: 1.2rem;
      color: $gray;
      margin-bottom: 1rem;
    }

    .main__links {
      display: flex;
      gap: 1.2rem;
      font-size: 2rem;
      color: $gray;

      .main__link {
        transition: all 0.4s ease-in-out;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

/* ANIMATIONS */
@mixin first-squiggle($width: 300px) {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate($width/2, 100px);
  }
  50% {
    transform: translate($width/1.25, 300px);
  }
  75% {
    transform: translate($width - 100, 50px);
  }
}
@mixin second-squiggle($width: 300px) {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-$width/5, 0px);
  }
}
@mixin third-squiggle($width: 300px) {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate($width/15, 200px);
  }
  50% {
    transform: translate(-$width/2.2, -100px);
  }
  75% {
    transform: translate(-$width/2, 30px);
  }
}
@mixin fourth-squiggle($width: 300px) {
  0% {
    transform: skew(20deg, 0deg) translate(0px, 0px);
  }
  25% {
    transform: skew(20deg, 0deg) translate(-$width/2, 100px);
  }
  50% {
    transform: skew(20deg, 0deg) translate(-$width/2.2, 100px);
  }
}

@keyframes squiggle-one {
  @include first-squiggle();
}
@keyframes squiggle-two {
  @include second-squiggle();
}
@keyframes squiggle-three {
  @include third-squiggle();
}
